@charset "utf-8";
/*ip拦截动画框*/
.ipvideobox{ position:fixed;bottom:0;right:50%;margin-right:500px;z-index:900;}
*html #totop{position:absolute;cursor:pointer;right:50%;margin-right:500px;bottom:0;display:none;top:expression(eval
(document.documentElement.scrollTop+document.documentElement.clientHeight)-602+"px");}
.ipvideobox .ipimg{position:absolute;bottom:100px; left:10%;width:527px; height:272px;}
.ipvideobox .ipimg a.ipclose{ display:block;width:32px; height:39px;position:absolute;top:0;right:148px; cursor:pointer;}
.adBG { position: fixed;z-index:999;bottom: 50%;left: 50%;width: 650px;height: 370px;background: url(http://www.eic.org.cn/Images/bg_ask.jpg) no-repeat;cursor: pointer;margin-bottom:-185px;margin-left:-325px;}

.adBG .zy1 {position:absolute;left:0px;bottom:30px;width:191px;height:164px; 
	background:url(/images/ipvideo/zy_1.png) no-repeat;
	-webkit-animation-name:zy1;
	-webkit-animation-duration:.4s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:right center;
	-moz-animation-name:zy1;
	-moz-animation-duration:.4s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:0s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:right center
}

@-webkit-keyframes zy1{
	0%{-webkit-transform:scale(0.15,1);-webkit-transform: translateX(120px);}
	20%{-webkit-transform:scale(0.3,1);-webkit-transform: translateX(100px)}
	40%{-webkit-transform:scale(0.45,1);-webkit-transform: translateX(80px)}
	60%{-webkit-transform:scale(0.6,1);-webkit-transform: translateX(60px)}
	80%{-webkit-transform:scale(0.8,1);-webkit-transform: translateX(30px)}
	100%{-webkit-transform:scale(1,1);-webkit-transform: translateX(0px)}
}

@-moz-keyframes zy1{
	0%{-moz-transform:scale(0.15,1);-moz-transform: translateX(120px)}
	20%{-moz-transform:scale(0.3,1);-moz-transform: translateX(100px)}
	40%{-moz-transform:scale(0.45,1);-moz-transform: translateX(80px)}
	60%{-moz-transform:scale(0.6,1);-moz-transform: translateX(60px)}
	80%{-moz-transform:scale(0.8,1);-moz-transform: translateX(30px)}
	100%{-moz-transform:scale(1,1);-moz-transform: translateX(0px)}
}

.adBG .zy2 { 
	position:absolute; 
	left:132px; 
	bottom:12px; 
	width:141px; 
	height:212px; 
	background:url(/images/ipvideo/zy_2.png) no-repeat;
	-webkit-animation-name:zy2;
	-webkit-animation-duration:.4s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:right center;
	-moz-animation-name:zy2;
	-moz-animation-duration:.4s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:0s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:right center

}

@-webkit-keyframes zy2{
	0%{-webkit-transform:scale(0.15,1)}
	20%{-webkit-transform:scale(0.3,1)}
	40%{-webkit-transform:scale(0.45,1)}
	60%{-webkit-transform:scale(0.6,1)}
	80%{-webkit-transform:scale(0.8,1)}
	100%{-webkit-transform:scale(1,1)}
}

@-moz-keyframes zy2{
	0%{-moz-transform:scale(0.15,1)}
	20%{-moz-transform:scale(0.3,1)}
	40%{-moz-transform:scale(0.45,1)}
	60%{-moz-transform:scale(0.6,1)}
	80%{-moz-transform:scale(0.8,1)}
	100%{-moz-transform:scale(1,1)}
}

.adBG .zy3 { 
	position:absolute; 
	left:244px; 
	bottom:14px; 
	width:135px; 
	height:203px; 
	background:url(/images/ipvideo/zy_3.png) no-repeat;
	-webkit-animation-name:zy3;
	-webkit-animation-duration:.4s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:left center;
	-moz-animation-name:zy3;
	-moz-animation-duration:.4s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:0s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:left center
}

@-webkit-keyframes zy3{
	0%{-webkit-transform:scale(0.15,1)}
	20%{-webkit-transform:scale(0.3,1)}
	40%{-webkit-transform:scale(0.45,1)}
	60%{-webkit-transform:scale(0.6,1)}
	80%{-webkit-transform:scale(0.8,1)}
	100%{-webkit-transform:scale(1,1)}
}

@-moz-keyframes zy3{
	0%{-moz-transform:scale(0.15,1)}
	20%{-moz-transform:scale(0.3,1)}
	40%{-moz-transform:scale(0.45,1)}
	60%{-moz-transform:scale(0.6,1)}
	80%{-moz-transform:scale(0.8,1)}
	100%{-moz-transform:scale(1,1)}
}

.adBG .zy4 { 
	position:absolute; 
	left:253px; 
	bottom:14px; 
	width:272px; 
	height:208px; 
	background:url(/images/ipvideo/zy_4.png) no-repeat;
	-webkit-animation-name:zy4;
	-webkit-animation-duration:.4s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:0s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:left center;
	-moz-animation-name:zy3;
	-moz-animation-duration:.4s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:0s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:left center
}
@-webkit-keyframes zy4{
	0%{-webkit-transform:scale(0.15,1);-webkit-transform: translateX(-120px)}
	20%{-webkit-transform:scale(0.3,1);-webkit-transform: translateX(-100px)}
	40%{-webkit-transform:scale(0.45,1);-webkit-transform: translateX(-80px)}
	60%{-webkit-transform:scale(0.6,1);-webkit-transform: translateX(-60px)}
	80%{-webkit-transform:scale(0.8,1);-webkit-transform: translateX(-30px)}
	100%{-webkit-transform:scale(1,1);-webkit-transform: translateX(0px)}
}

@-moz-keyframes zy4{
	0%{-moz-transform:scale(0.15,1);-moz-transform: translateX(-120px)}
	20%{-moz-transform:scale(0.3,1);-moz-transform: translateX(-100px)}
	40%{-moz-transform:scale(0.45,1);-moz-transform: translateX(-80px)}
	60%{-moz-transform:scale(0.6,1);-moz-transform: translateX(-60px)}
	80%{-moz-transform:scale(0.8,1);-moz-transform: translateX(-30px)}
	100%{-moz-transform:scale(1,1);-moz-transform: translateX(0px)}
}
/*伦敦钟*/
.adBG .ltt {	
	position:absolute; 
	left:218px; 
	top:40px; 
	width:29px; 
	height:78px; 
	background:url(/images/ipvideo/ltt.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:ltt;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:1.2s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:ltt;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:1.2s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes ltt{
	0%{-webkit-transform:scale(0.5,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.6,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.7,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.8,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes ltt{
	0%{-moz-transform:scale(0.5,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.6,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.7,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.8,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}
.adBG .lttShadow {	
	position:absolute; 
	left:202px; 
	top:75px; 
	width:61px; 
	height:48px; 
	background:url(/images/ipvideo/ltt_shadow.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:lttShadow;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:1.2s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:lttShadow;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:1.2s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes lttShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

@-moz-keyframes lttShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}
/*艾佛尔铁塔*/
.adBG .ftt {	
	position:absolute; 
	left:158px; 
	top:0px; 
	width:272px; 
	height:208px; 
	background:url(/images/ipvideo/ftt.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:ftt;
	-webkit-animation-duration:.4s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:1.8s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:ftt;
	-moz-animation-duration:.4s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:1.8s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes ftt{
	0%{-webkit-transform:scale(0.5,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.6,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.7,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.8,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes ftt{
	0%{-moz-transform:scale(0.5,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.6,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.7,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.8,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}
.adBG .fttShadow {	
	position:absolute; 
	left:172px; 
	top:76px; 
	width:272px; 
	height:208px; 
	background:url(/images/ipvideo/ftt_shadow.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:fttShadow;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:1.8s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:fttShadow;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:1.8s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}

@-webkit-keyframes fttShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

@-moz-keyframes fttShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}
/**/
.adBG .rtt {	
	position:absolute; 
	left:242px; 
	top:60px; 
	width:75px; 
	height:64px; 
	background:url(/images/ipvideo/rtt.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:rtt;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:1.5s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:rtt;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:1.5s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}

@-webkit-keyframes rtt{
	0%{-webkit-transform:scale(0.1,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.3,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.5,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.7,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes rtt{
	0%{-moz-transform:scale(0.1,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.3,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.5,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.7,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}

.adBG .rttShadow {	
	position:absolute; 
	left:250px; 
	top:70px; 
	width:90px; 
	height:50px; 
	background:url(/images/ipvideo/rtt_shadow.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:rttShadow;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:1.5s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:rttShadow;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:1.5s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}

@-webkit-keyframes rttShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

@-moz-keyframes rttShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

/**/
.adBG .ct {	
	position:absolute; 
	left:122px; 
	top:15px; 
	width:20px; 
	height:105px; 
	background:url(/images/ipvideo/ct.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:ct;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.1s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:ct;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.1s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes ct{
	0%{-webkit-transform:scale(0.1,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.3,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.5,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.7,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes ct{
	0%{-moz-transform:scale(0.1,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.3,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.5,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.7,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}

.adBG .ctShadow {	
	position:absolute; 
	left:120px; 
	top:62px; 
	width:61px; 
	height:64px; 
	background:url(/images/ipvideo/ct_shadow.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:rttShadow;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.1s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:rttShadow;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.1s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes ctShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

@-moz-keyframes ctShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}
/**/
.adBG .god {	
	position:absolute; 
	left:142px; 
	top:38px; 
	width:40px; 
	height:95px; 
	background:url(/images/ipvideo/god.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:god;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.3s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:god;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.3s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes god{
	0%{-webkit-transform:scale(0.5,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.6,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.7,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.8,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes god{
	0%{-moz-transform:scale(0.5,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.6,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.7,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.8,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}

.adBG .godShadow {	
	position:absolute; 
	left:132px; 
	top:70px; 
	width:82px; 
	height:70px; 
	background:url(/images/ipvideo/god_shadow.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:godShadow;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.3s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:godShadow;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.3s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes godShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

@-moz-keyframes godShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

/**/
.adBG .jt {	
	position:absolute; 
	right:148px; 
	top:92px; 
	width:64px; 
	height:43px; 
	background:url(/images/ipvideo/jt.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:jt;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.2s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:jt;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.2s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}

@-webkit-keyframes jt{
	0%{-webkit-transform:scale(0.5,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.6,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.7,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.8,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes jt{
	0%{-moz-transform:scale(0.5,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.6,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.7,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.8,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}

.adBG .jtShadow {	
	position:absolute; 
	right:116px; 
	top:100px; 
	width:105px; 
	height:42px; 
	background:url(/images/ipvideo/jt_shadow.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:jtShadow;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.2s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:jtShadow;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.2s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}

@-webkit-keyframes jtShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

@-moz-keyframes jtShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

/**/
.adBG .xgt {	
	position:absolute; 
	right:192px; 
	top:56px; 
	width:37px; 
	height:95px; 
	background:url(/images/ipvideo/xgt.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:xgt;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.4s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:xgt;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.4s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes xgt{
	0%{-webkit-transform:scale(0.5,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.6,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.7,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.8,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes xgt{
	0%{-moz-transform:scale(0.5,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.6,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.7,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.8,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}

/*澳大利亚悉尼歌剧院*/
.adBG .axn {	
	position:absolute; 
	right:72px; 
	bottom:70px; 
	width:130px; 
	height:66px; 
	background:url(/images/ipvideo/axn.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:axn;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.7s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:axn;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.7s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}
@-webkit-keyframes axn{
	0%{-webkit-transform:scale(0.5,0.1); -webkit-transform:skewX(-25deg);opacity:0}
	20%{-webkit-transform:scale(0.6,0.3);-webkit-transform:skewX(-20deg);opacity:0.2}
	40%{-webkit-transform:scale(0.7,0.5);-webkit-transform:skewX(-15deg);opacity:0.4}
	60%{-webkit-transform:scale(0.8,0.7);-webkit-transform:skewX(-10deg);opacity:0.6}
	80%{-webkit-transform:scale(0.9,0.9);-webkit-transform:skewX(-5deg);opacity:0.8}
	100%{-webkit-transform:scale(1,1);-webkit-transform:skewX(0deg);opacity:1}
}

@-moz-keyframes axn{
	0%{-moz-transform:scale(0.5,0.1); -moz-transform:skewX(-25deg);opacity:0}
	20%{-moz-transform:scale(0.6,0.3);-moz-transform:skewX(-20deg);opacity:0.2}
	40%{-moz-transform:scale(0.7,0.5);-moz-transform:skewX(-15deg);opacity:0.4}
	60%{-moz-transform:scale(0.8,0.7);-moz-transform:skewX(-10deg);opacity:0.6}
	80%{-moz-transform:scale(0.9,0.9);-moz-transform:skewX(-5deg);opacity:0.8}
	100%{-moz-transform:scale(1,1);-moz-transform:skewX(0deg);opacity:1}
}
.adBG .axnShadow {	
	position:absolute; 
	right:52px; 
	bottom:75px; 
	width:145px; 
	height:59px; 
	background:url(/images/ipvideo/axn_shadow.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:axnShadow;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:2.6s;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center bottom;
	-moz-animation-name:axnShadow;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:2.7s;
	-moz-animation-fill-mode:forwards;
	-moz-transform-origin:center bottom 
}

@-webkit-keyframes axnShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

@-moz-keyframes axnShadow{
	0%{opacity:0}
	20%{opacity:0.2}
	40%{opacity:0.4}
	60%{opacity:0.6}
	80%{opacity:0.8}
	100%{opacity:1}
}

.adBG .y2014 {
	position:absolute; 
	left:32px; 
	bottom:60px; 
	width:183px; 
	height:83px; 
	background:url(/images/ipvideo/2014.png) no-repeat;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	opacity:0;
	-webkit-animation-name:bounceInDown;
	-webkit-animation-duration:.3s;
	-webkit-transition-timing-function:ease-in;
	-webkit-animation-delay:3.2s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-name:bounceInDown;
	-moz-animation-duration:.3s;
	-moz-transition-timing-function:ease-in;
	-moz-animation-delay:3.2s;
	-moz-animation-fill-mode:forwards;
	
}
@-webkit-keyframes bounceInDown{
	0%{-webkit-transform:translateY(-200px);opacity:0}
	34%{-webkit-animation-timing-function:ease-out;-webkit-transform:translateY(0px);opacity:0.15}
	52%{-webkit-transform:translateY(-24px);-webkit-animation-timing-function:ease-in;opacity:0.3}
	70%{-webkit-transform:translateY(0px);-webkit-animation-timing-function:ease-out;opacity:0.45}
	79%{-webkit-transform:translateY(-12px);-webkit-animation-timing-function:ease-in;opacity:0.6}
	88%{-webkit-transform:translateY(0px);-webkit-animation-timing-function:ease-out;opacity:0.75}
	94%{-webkit-transform:translateY(-5px);-webkit-animation-timing-function:ease-in;opacity:0.9}
	100%{-webkit-transform:translateY(0px);opacity:1}
}

@-moz-keyframes bounceInDown{
	0%{-moz-transform:translateY(-200px);opacity:0}
	34%{-moz-animation-timing-function:ease-out;-moz-transform:translateY(0px);opacity:0.15}
	52%{-moz-transform:translateY(-24px);-moz-animation-timing-function:ease-in;opacity:0.3}
	70%{-moz-transform:translateY(0px);-moz-animation-timing-function:ease-out;opacity:0.45}
	79%{-moz-transform:translateY(-12px);-moz-animation-timing-function:ease-in;opacity:0.6}
	88%{-moz-transform:translateY(0px);-moz-animation-timing-function:ease-out;opacity:0.75}
	94%{-moz-transform:translateY(-5px);-moz-animation-timing-function:ease-in;opacity:0.9}
	100%{-moz-transform:translateY(0px);opacity:1}
}
/*关闭按钮*/
.adBG .yclose {
	 width:120px; 
	height:120px; 
	display:block; 
	position:absolute; 
	top:0px; right:0px; 
	text-indent:-9999px;
}

@-webkit-keyframes yclose{
	0%{-webkit-transform:scale(0.1,0.1);opacity:0;top:86px}
	20%{-webkit-transform:scale(0.3,0.3);opacity:0.2;top:72px}
	40%{-webkit-transform:scale(0.5,0.5);opacity:0.4;top:58px}
	60%{-webkit-transform:scale(0.7,0.7);opacity:0.6;top:44px}
	80%{-webkit-transform:scale(0.9,0.9);opacity:0.8;top:8px}
	100%{-webkit-transform:scale(1,1);opacity:1;top:22px}
}

@-moz-keyframes yclose{
	0%{-moz-transform:scale(0.1,0.1);opacity:0;top:86px}
	20%{-moz-transform:scale(0.3,0.3);opacity:0.2;top:72px}
	40%{-moz-transform:scale(0.5,0.5);opacity:0.4;top:58px}
	60%{-moz-transform:scale(0.7,0.7);opacity:0.6;top:44px}
	80%{-moz-transform:scale(0.9,0.9);opacity:0.8;top:8px}
	100%{-moz-transform:scale(1,1);opacity:1;top:22px}
}
.adBG .zxBtn { 
	width:132px; 
	height:40px; 
	display:block; 
	position:absolute; 
	top:130px; 
	left:23px; 
	text-indent:-9999px;
}
@-webkit-keyframes zoomInDown{
	0%{opacity:.3;-webkit-transform:scale(.4) translateY(50px)}
	70%{opacity:1;-webkit-transform:scale(1.05)}
	90%{opacity:1;-webkit-transform:scale(.95) translateY(0px)}
	100%{opacity:1;-webkit-transform:scale(1)}
}

@-moz-keyframes zoomInDown{
	0%{opacity:.3;-moz-transform:scale(.4) translateY(50px)}
	70%{opacity:1;-moz-transform:scale(1.05)}
	90%{opacity:1;-moz-transform:scale(.95) translateY(0px)}
	100%{opacity:1;-moz-transform:scale(1)}
}

.adBG .zy1,.adBG .zy2,.adBG .zy3 ,.adBG .zy4,
.adBG .ltt ,.adBG .lttShadow ,.adBG .ftt,.adBG .fttShadow,.adBG .rtt,.adBG .rttShadow ,
.adBG .ct ,.adBG .ctShadow ,.adBG .god ,.adBG .godShadow ,.adBG .jt ,.adBG .jtShadow ,
.adBG .xgt,.adBG .axn ,.adBG .axnShadow,.adBG .y2014 ,.adBG .zxBtn {background:none\0;}/*.adBG .yclose ,*/
